html {
  /*scroll-behavior: smooth;*/
}

#menu {
    position: fixed;
    top: 0px;
    background-color: white;   
    width: calc(100% - 96px);
    margin: 0px 48px 40px 48px; 
}

#footer {
    width: calc(100% - 96px);
    margin: 40px 48px 40px 48px;
    border-top: solid 1px #2b2b2b;
}


a:hover{
    opacity: 0.6;
}

div {
    margin-top: 24px;
}

body {
    margin: auto 0;
    display: block;
}

a {
    text-decoration: none;
    color: #2b2b2b;  
}


img {
    width: 100%;
    margin-bottom: 80px;
}

.window {
    display: block;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 56px;
    margin-bottom: 24px;
    padding-top: 48px;
}

.container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    /*background-color:darkseagreen;*/
    padding: 48px 0px 48px 0px;
}

.full-width {
    width: 100%;
    display: block;
}

.half-width {
    width: calc(50% - 12px);
    display: inline-block;
}

.col8-width {
    /*width: 66%;*/
    width: calc(66.7% - 3px);
    display: inline-block;
}

.project-box {
    width: 66%;
    /*width: calc(66.7% - 3px);*/
    /*background-color: skyblue;*/
    margin-left: auto;
    margin-right: 0;
}


.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 48px;  
}


.project-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /*flex: 1;*/
    /*background-color: aqua;*/
    padding-right: 12.5%
}

/* Only mobile */
@media screen and (max-width: 720px) {
    .window {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .col8-width {
        width: 100%;
        display: inline-block;
    }
    
    .half-width {
        display: block !important;;
        width: 100% !important;
        
    }
    
    .left {
        margin-right: 0px !important;
    }

    .right {
        margin-left: 0px !important;
    }
    
    .project-box {
        width: 100%;
        padding: 0px;
    }
    
    .project-item {
        width: inherit;
        display: block;
        margin-bottom: 40px;
    }
    
    .hero {
        font-size: 2em !important;
    }
    
    #face {
        width: 40% !important;
    }
    
    #menu {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    
    #footer {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    
    .menu-list {
    padding-right: 24px !important;
    }
    
}

/* Only desktop */
@media screen and (min-width: 800px) {
    .project-column {
        flex: 1
    }
}


.menu-ul {
    padding: 0;
    list-style: none;
}


.menu-list {
    text-align: left;
    display: inline;
    padding: 8px 40px 8px 0px;
    
    /*text style*/
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    /* identical to box height, or 150% */

    letter-spacing: 0.25px;

    color: #2b2b2b;
}


.logo {
    width: 24px;
    height: 24px;
}

#face {
    width: 25%; 
    align-content: center;
    margin: auto;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}


.project-item-index {
    border-bottom: solid 3px #EB5757;
    margin-right: 8px;
    padding-bottom: 16px;
    margin-bottom: 24px !important;
}





.left {
    margin-right: 12px;
    /*background-color: azure;*/
}

.text-vertical-center {
  text-align: left;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right {
    margin-left: 12px;
    /*background-color: burlywood;*/
    float: right;
    
}

.center {
    /*background-color: palevioletred;*/
    float: center;
    display: block;
    margin: auto;
}

.hero {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3em; /*48px*/
    color: #2b2b2b;
}

.index {
    border-bottom: solid 4px #EB5757;
    margin-right: 16px;
    margin-bottom: 24px;
    color: #2b2b2b;
    
    display: inline-flex;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 2em;
}



.caption {
    font-size: 0.75em !important;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
}

.align-center {
    text-align: center;
}

.regular {
    font-weight: 400 !important;
}

.italic {
    font-style: italic;
}


.h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
    
    color: #2b2b2b;
}


.h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.5em;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;
    color: #2b2b2b;
}


.h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25em;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;
    color: #2b2b2b;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.compact {
    line-height: 1.25em;
}

.body {
    /*position: absolute;*/
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    /* or 150% */
    letter-spacing: 0.25px;

    /* Red */
    color: #2b2b2b;
    /*column-count: 1;*/
}

/* Contribution items */


.chip {
    /*border: 1px solid #2b2b2b;*/
    /*box-sizing: border-box;*/
    background-color: #f9f5ff;
    padding: 8px;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    
    color: #a074ff !important;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    letter-spacing: 0.15px;
    margin: 0px 0px 4px 0px;
    color: #2b2b2b;
}

.appstore {
    /*border: 1px solid #2b2b2b;*/
    /*box-sizing: border-box;*/
    border-radius: 4px;
    background-color: #000000;
    padding: 8px;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    
    color: #ffffff !important;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    letter-spacing: 0.15px;
    margin: 0px 0px 4px 0px;
    color: #2b2b2b;
}