#side {
    position: fixed;
    float: left;
    width: 180px; 
}

#header{    
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    padding-top: 20px;
}

#nav{
    text-align: center;
    padding: 10px;
}

.topnav{
    margin-left: 0px;
    
    font-family: "DINPro", helvetica;
    font-size: small;
}

.navli:hover{
    text-decoration: underline;
}

li{
    float: left;
    clear: both;
    padding: 5px;
    
    list-style: none;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
    background-color: azure;
    
    
}

#contents {
    position: relative;
    width: auto;
    margin-left: 180px;
    padding-top: 80px;
    font-family: "DINPro", sans-serif;
    font-size: small;
}

.thumbnail {
    margin: 2px;
}